.footer-sections {
    padding: 16px; /* Espaciado interno */
  }

.footer-sections ion-label {
  text-align: center; /* Centrar el texto */
  width: 100%; /* Asegurar que ocupe todo el ancho disponible */
}

.footer-sections h2 {
  text-align: center; /* Centrar el texto */
  width: 100%; /* Asegurar que ocupe todo el ancho disponible */
}
