	.label-strong {
		font-weight: bold;
	}
	
	.ion-margin-vertical {
		margin-top: 16px;
		margin-bottom: 16px;
	}
	
	.button-row {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
	  }
	  