/* SidebarUsuario.css */

.profile-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	text-align: center;
  }
  
  .profile-pic {
	width: 80px; /* Ajusta el tamaño de la imagen de perfil */
	height: 80px;
	border-radius: 50%; /* Hace que la imagen sea redonda */
	margin-bottom: 10px; /* Espaciado inferior */
  }
  
  .profile-name {
	font-size: 18px; /* Tamaño del nombre */
	font-weight: bold; /* Negrita */
	margin: 0; /* Elimina margen */
  }
  
  .profile-email {
	font-size: 14px; /* Tamaño del correo electrónico */
	color: gray; /* Color del subtítulo */
	margin: 0; /* Elimina margen */
  }
  
  .profile-nav {
	margin-top: 20px; /* Espaciado superior */
  }
  
  .menu-item {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra en los bordes */
	margin: 10px 0; /* Margen entre los elementos */
	padding: 10px; /* Padding interno */
	border-radius: 5px; /* Bordes redondeados */
	transition: box-shadow 0.3s; /* Transición suave al hover */
  }
  
  .menu-item:hover {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Aumentar sombra al pasar el mouse */
  }
  